<tui-loader
    [inheritColor]="true"
    [overlay]="false"
    [showLoader]="isLoading"
    [formGroup]="form"
>
    <tui-textfield>
        <label tuiLabel>Last name</label>
        <input
            onlyLetters
            formControlName="last_name"
            tuiTextfield
            uppercase
        />

        <tui-error formControlName="last_name"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <tui-textfield>
        <label tuiLabel>First name</label>
        <input
            onlyLetters
            formControlName="first_name"
            tuiTextfield
            uppercase
        />

        <tui-error formControlName="first_name"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <tui-textfield>
        <label tuiLabel>Middle name</label>
        <input
            onlyLetters
            formControlName="middle_name"
            tuiTextfield
            uppercase
        />

        <tui-error formControlName="middle_name"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <tui-input-date
        formControlName="dob"
        toNativeDate
        tuiUnfinishedValidator="Finish filling the field"
        [max]="TuiDay.fromLocalNativeDate(maxDobDate)"
    >
        Date of birth
    </tui-input-date>
    <tui-error
        formControlName="dob"
        [error]="[] | tuiFieldError | async"
    />
</tui-loader>
