<tui-loader
    [inheritColor]="true"
    [overlay]="false"
    [showLoader]="isLoading"
>
    <div class="wrapper"
         [formGroup]="form"
    >
        <tui-textfield>
            <label tuiLabel>{{ Sftoomi.Translator.translate('last_name') }}</label>
            <input
                onlyLetters
                formControlName="last_name"
                tuiTextfield
                uppercase
            />

            <tui-error formControlName="last_name"
                       [error]="[] | tuiFieldError | async"
            />
        </tui-textfield>

        <tui-textfield>
            <label tuiLabel>{{ Sftoomi.Translator.translate('first_name') }}</label>
            <input
                onlyLetters
                formControlName="first_name"
                tuiTextfield
                uppercase
            />

            <tui-error formControlName="first_name"
                       [error]="[] | tuiFieldError | async"
            />
        </tui-textfield>

        <tui-textfield>
            <label tuiLabel>{{ Sftoomi.Translator.translate('middle_name') }}</label>
            <input
                onlyLetters
                formControlName="middle_name"
                tuiTextfield
                uppercase
            />

            <tui-error formControlName="middle_name"
                       [error]="[] | tuiFieldError | async"
            />
        </tui-textfield>

        <tui-input-date
            formControlName="dob"
            toNativeDate
            tuiUnfinishedValidator
            [max]="TuiDay.fromLocalNativeDate(maxDobDate)"
        >
            {{ Sftoomi.Translator.translate('dob_full') }}
        </tui-input-date>
        <tui-error
            formControlName="dob"
            [error]="[] | tuiFieldError | async"
        />

        <div class="actions">
            <button
                tuiButton
                appearance="flat"
                iconStart="check"
                type="button"
                [disabled]="form.invalid"
                (click)="save()"
            >
                {{ Sftoomi.Translator.translate('save') }}
            </button>
        </div>
    </div>
</tui-loader>
