<div>
    <button nz-button
            nzType="default"
            nzShape="circle"
            [disabled]="table.isLoadingNow()"
            (click)="onAddClick($event)"
            [nz-tooltip]="Sftoomi.Translator.translate('add')"
    >
        <nz-icon nzType="plus" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            [disabled]="table.isLoadingNow()"
            (click)="onEditClick($event)"
            [nz-tooltip]="Sftoomi.Translator.translate('edit')"
    >
        <nz-icon nzType="edit" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            [disabled]="table.isLoadingNow()"
            (click)="onRemoveClick()"
            [nz-tooltip]="Sftoomi.Translator.translate('remove')"
    >
        <nz-icon nzType="delete" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            [disabled]="table.isLoadingNow()"
            (click)="onRefreshClick()"
            [nz-tooltip]="Sftoomi.Translator.translate('refresh')"
    >
        <nz-icon nzType="retweet" />
    </button>
</div>
