{{ dialogResizer() }}

<div class="wrapper"
     [formGroup]="form"
>
    <app-textfield label="Group name"
                   name="group_name"
                   [form]="form"
    />

    <app-item-selector #permissionsCtrl
                       label="Permissions"
                       [required]="true"
    />

    <div *nzModalFooter>
        <button nz-button
                nzType="primary"
                nzShape="round"
                [disabled]="isSaveButtonDisabled()"
                (click)="save()"
        >
            {{ Sftoomi.Translator.translate('save') }}
        </button>
    </div>
</div>
