<div class="wrapper"
     [formGroup]="form"
>
    <app-textfield [label]="Sftoomi.Translator.translate('views.users.dialog.login')"
                   name="login"
                   [form]="form"
    />

    <app-textfield [label]="Sftoomi.Translator.translate('last_name')"
                   name="last_name"
                   [form]="form"
    />

    <app-textfield [label]="Sftoomi.Translator.translate('first_name')"
                   name="first_name"
                   [form]="form"
    />

    <app-checkbox [label]="Sftoomi.Translator.translate('views.users.dialog.reset_password')"
                  name="reset_password"
                  [form]="form"
                  [tooltip]="Sftoomi.Translator.translate('views.users.dialog.reset_password_tooltip')"
    />

    <app-checkbox [label]="Sftoomi.Translator.translate('views.users.dialog.force_to_change_password')"
                  name="force_to_change_password"
                  [form]="form"
                  [tooltip]="Sftoomi.Translator.translate('views.users.dialog.force_to_change_password_tooltip')"
    />

    <app-checkbox [label]="Sftoomi.Translator.translate('views.users.dialog.disabled')"
                  name="disabled"
                  [form]="form"
                  [tooltip]="Sftoomi.Translator.translate('views.users.dialog.disabled_tooltip')"
    />

    <div *nzModalFooter>
        <button nz-button
                nzType="primary"
                nzShape="round"
                [disabled]="form.invalid"
                (click)="save()"
        >
            {{ Sftoomi.Translator.translate('save') }}
        </button>
    </div>
</div>
