@import  '../../../../../styles.scss';
@import '../../../../../theme.less';

.wrapper {
    display: flex;
    gap: 10px;

    .exam-wrapper {
        max-width: 200px;
    }
}

.ant-divider {
    border-left: @dark-outline;
}
