<div class="wrapper">
    <tui-textfield>
        <label tuiLabel>{{ Sftoomi.Translator.translate('last_name') }}</label>
        <input
            onlyLetters
            [formControl]="controls.last_name"
            tuiTextfield
            uppercase
        />

        <tui-error [formControl]="controls.last_name"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <tui-textfield>
        <label tuiLabel>{{ Sftoomi.Translator.translate('first_name') }}</label>
        <input
            onlyLetters
            [formControl]="controls.first_name"
            tuiTextfield
            uppercase
        />

        <tui-error [formControl]="controls.first_name"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <tui-textfield>
        <label tuiLabel>{{ Sftoomi.Translator.translate('middle_name') }}</label>
        <input
            onlyLetters
            [formControl]="controls.middle_name"
            tuiTextfield
            uppercase
        />

        <tui-error [formControl]="controls.middle_name"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <tui-input-date
        [formControl]="controls.dob"
        toNativeDate
        [tuiUnfinishedValidator]="Sftoomi.Translator.translate('validators.finish_filling_field')"
        [max]="TuiDay.fromLocalNativeDate(maxDobDate)"
    >
        {{ Sftoomi.Translator.translate('dob_full') }}
    </tui-input-date>

    <tui-error
        [formControl]="controls.dob"
        [error]="[] | tuiFieldError | async"
        [style.display]="!controls.dob.errors ? 'none' : 'unset'"
    />

    <tui-input
        [style.max-width.rem]="30"
        [tuiTextfieldCustomContent]="countryIsoCode ? flag : '@tui.phone'"
        [formControl]="controls.phone"
    >
        {{ Sftoomi.Translator.translate('phone') }}
        <input
            autocomplete="tel"
            inputmode="tel"
            tuiTextfieldLegacy
            [attr.pattern]="pattern"
            [maskito]="mask"
        />
    </tui-input>
</div>

<ng-template #flag>
    <img
        width="28"
        [attr.alt]="countryIsoCode"
        [src]="countryIsoCode | tuiFlag"
        [style.border-radius.%]="50"
    />
</ng-template>
