<div class="wrapper">
    <tui-accordion class="filters-accordion-wrapper">
        <button [tuiAccordion]="true">{{ Sftoomi.Translator.translate('filters') }}</button>
        <tui-expand>
            <div class="filters-panel-wrapper">
                <processing-module-filters-panel (onSearch)="search($event)"
                                                 (onClear)="search($event)"
                />
            </div>
        </tui-expand>
    </tui-accordion>

    <tui-accordion>
        <button [tuiAccordion]="true">{{ Sftoomi.Translator.translate('examinations') }}</button>
        <tui-expand>
            <div class="examinations-panel-wrapper">
                // TODO: add the examinations content here
            </div>
        </tui-expand>
    </tui-accordion>
</div>
