<div style="max-width: 180px;">
    <div class="overflowed-text">
        <span>{{ Sftoomi.Translator.translate('views.examinations.table.columns.referring.facility') }}:&nbsp;</span>
        <span
            [nz-tooltip]="rowData.facility.full_name"
        >
            {{ rowData.facility.short_name }}
        </span>
    </div>
    @if (rowData.doctor) {
        <div class="overflowed-text">
            <span>{{ Sftoomi.Translator.translate('views.examinations.table.columns.referring.doctor') }}:&nbsp;</span>
            <span
                [nz-tooltip]="Sftoomi.humanFullName(rowData.doctor)"
            >
            {{ Sftoomi.humanShortName(rowData.doctor) }}
        </span>
        </div>
    }
</div>
