<tui-loader
    [inheritColor]="true"
    [overlay]="false"
    [showLoader]="isLoading()"
>
    <div class="wrapper"
         [formGroup]="form"
    >
        <tui-textfield>
            <label tuiLabel>{{ Sftoomi.Translator.translate('short_name') }}</label>
            <input
                onlyLetters
                formControlName="short_name"
                tuiTextfield
            />

            <tui-error formControlName="short_name"
                       [error]="[] | tuiFieldError | async"
            />
        </tui-textfield>

        <tui-textfield>
            <label tuiLabel>{{ Sftoomi.Translator.translate('full_name') }}</label>
            <input
                onlyLetters
                formControlName="full_name"
                tuiTextfield
            />

            <tui-error formControlName="full_name"
                       [error]="[] | tuiFieldError | async"
            />
        </tui-textfield>

        <app-remote-multi-select [label]="Sftoomi.Translator.translate('views.studies.dialog.cpts')"
                                 formControlName="study_cpts"
                                 lookupUrl="/lookupCpt"
                                 style="width: 500px"
        >
        </app-remote-multi-select>

        <tui-error formControlName="study_cpts"
                   [error]="[] | tuiFieldError | async"
        />

        <div class="actions">
            <button
                tuiButton
                appearance="flat"
                iconStart="check"
                type="button"
                [disabled]="form.invalid"
                (click)="save()"
            >
                {{ Sftoomi.Translator.translate('save') }}
            </button>
        </div>
    </div>
</tui-loader>
