.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 350px;

    .study-cpts {
        width: 500px;
        max-height: 200px;
        overflow: auto;
    }
}

.actions {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
