<nz-form-item [formGroup]="form">
    <nz-form-label [nzRequired]="Sftoomi.isFieldRequired(form, name)"
                   [nzFor]="name"
    >
        {{ label }}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="errorTipTpl">
        <nz-select [nzShowSearch]="useSearch || !Sftoomi.isEmpty(remoteUrl)"
                   [nzAllowClear]="useClear"
                   [nzPlaceHolder]="placeholder"
                   [formControlName]="name"
                   [nzShowArrow]="true"
                   [nzServerSearch]="Sftoomi.isEmpty(remoteUrl)"
                   (nzOnSearch)="search($event)"
                   (ngModelChange)="onSelectionChange()"
                   [nzLoading]="isLoading()"
                   [nzMode]="multiple ? 'multiple' : 'default'"
                   [nz-tooltip]="tooltip"
                   [nzTooltipPlacement]="tooltipPlacement"
        >
            @for (record of listOfOptions(); track record.value) {
                <nz-option [nzLabel]="record.caption"
                           [nzValue]="record.value"
                />
            }
        </nz-select>

        <ng-template #errorTipTpl>
            <form-error-template [fieldName]="name"
                                 [parentFormGroup]="form"
            />
        </ng-template>
    </nz-form-control>
</nz-form-item>
