<div>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onAddClick($event)"
    >
        <nz-icon nzType="plus" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onEditClick($event)"
    >
        <nz-icon nzType="edit" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onRemoveClick($event)"
    >
        <nz-icon nzType="delete" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onRefreshClick()"
    >
        <nz-icon nzType="retweet" />
    </button>
</div>
