@import '@taiga-ui/core/styles/taiga-ui-local.less';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 350px;

    .main {
        gap: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;

        @media @tui-mobile {
            flex-direction: column;
        }
    }
}

.actions {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.card {
    min-width: 400px;

    @media @tui-mobile {
        min-width: unset;
    }
}
