<tui-loader
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="isLoading()"
>
    <div class="wrapper"
         [formGroup]="form"
    >
        <div tuiCardLarge
             tuiSurface="floating"
        >
            <div tuiHeader>
                <div tuiTitle>{{ Sftoomi.Translator.translate('patient') }}</div>
            </div>

            <div class="main">
                <app-remote-select [label]="Sftoomi.Translator.translate('id')"
                                   lookupUrl="/lookupPatient"
                                   formControlName="patient_id"
                                   [showExpandedNameInOptionsList]="true"
                                   [minimalQueryLength]="1"
                                   (onOptionSelected)="onPatientSelected($event)"
                />

                <patient-demographics-template [controls]="getPatientTemplateControls()"/>
            </div>
        </div>

        <div tuiCardLarge
             tuiSurface="floating"
        >
            <div tuiHeader>
                <div tuiTitle>{{ Sftoomi.Translator.translate('staff') }}</div>
            </div>

            <div class="main">
                <app-combo-box #facilityIdCtrl
                               [label]="Sftoomi.Translator.translate('facility')"
                               name="facility_id"
                               [parentFormGroup]="form"
                               [store]="facilitiesStore"
                               [filterFn]="filterFacilities"
                />
                <app-combo-box #doctorIdCtrl
                               [label]="Sftoomi.Translator.translate('doctor')"
                               name="doctor_id"
                               [parentFormGroup]="form"
                               [store]="doctorsStore"
                               [filterFn]="filterDoctors"
                />
            </div>
        </div>

        <div class="actions">
            <button
                tuiButton
                appearance="flat"
                iconStart="check"
                type="button"
                [disabled]="form.invalid"
                (click)="save()"
            >
                {{ Sftoomi.Translator.translate('save') }}
            </button>
        </div>
    </div>
</tui-loader>
