<tui-loader
    [inheritColor]="true"
    [overlay]="true"
    [showLoader]="isLoading()"
>
    <div class="wrapper"
         [formGroup]="form"
    >
        <div class="main">
            <div class="card"
                 tuiCardLarge
                 tuiSurface="floating"
            >
                <div tuiHeader>
                    <div tuiTitle>{{ Sftoomi.Translator.translate('examination') }}</div>
                </div>

                <tui-input-date
                    formControlName="examination_date"
                    toNativeDate
                    [tuiUnfinishedValidator]="Sftoomi.Translator.translate('validators.finish_filling_field')"
                >
                    {{ Sftoomi.Translator.translate('date') }}
                </tui-input-date>
                <tui-error
                    formControlName="examination_date"
                    [error]="[] | tuiFieldError | async"
                    [style.display]="!form.get('examination_date')!.errors ? 'none' : 'unset'"
                />

                <!-- space filler -->
                <span></span>
            </div>

            <div class="card"
                 tuiCardLarge
                 tuiSurface="floating"
            >
                <div tuiHeader>
                    <div tuiTitle>{{ Sftoomi.Translator.translate('patient') }}</div>
                </div>

                <app-remote-select [label]="Sftoomi.Translator.translate('id')"
                                   lookupUrl="/lookupPatient"
                                   formControlName="patient_id"
                                   [showExpandedNameInOptionsList]="true"
                                   [minimalQueryLength]="1"
                                   (onOptionSelected)="onPatientSelected($event)"
                />

                <patient-demographics-template [controls]="getPatientTemplateControls()"/>

                <!-- space filler -->
                <span></span>
            </div>

            <div class="card"
                 tuiCardLarge
                 tuiSurface="floating"
            >
                <div tuiHeader>
                    <div tuiTitle>{{ Sftoomi.Translator.translate('staff') }}</div>
                </div>

                <app-combo-box #facilityIdCtrl
                               [label]="Sftoomi.Translator.translate('facility')"
                               name="facility_id"
                               [parentFormGroup]="form"
                               [store]="facilitiesStore"
                               [filterFn]="filterFacilities"
                />
                <app-combo-box #doctorIdCtrl
                               [label]="Sftoomi.Translator.translate('doctor')"
                               name="doctor_id"
                               [parentFormGroup]="form"
                               [store]="doctorsStore"
                               [filterFn]="filterDoctors"
                />

                <!-- space filler -->
                <span></span>
            </div>

            <div class="card"
                 tuiCardLarge
                 tuiSurface="floating"
            >
                <div tuiHeader>
                    <div tuiTitle>{{ Sftoomi.Translator.translate('studies') }}</div>
                </div>

                <app-studies #studiesCtrl
                             name="studies"
                             [parentFormGroup]="form"
                             [store]="studiesStore"
                             label=""
                />

                <!-- space filler -->
                <span></span>
            </div>
        </div>

        <div class="actions">
            <button
                tuiButton
                appearance="flat"
                iconStart="check"
                type="button"
                (click)="save()"
            >
                {{ Sftoomi.Translator.translate('save') }}
            </button>
        </div>
    </div>
</tui-loader>
