<div class="field-wrapper">
    @if (label) {
        <nz-form-label [nzRequired]="required">
            {{ label }}
        </nz-form-label>
    }
    <div class="wrapper"
         [class.wrapper-mobile]="Sftoomi.responsiveLayoutService?.isSmallWidth()"
    >
        <app-item-selector-data-list #left
                                     [title]="Sftoomi.Translator.translate('fields.item_selector.available')"
        />
        <div class="action-buttons-wrapper">
            <button nz-button
                    nzType="primary"
                    nzShape="round"
                    [nz-tooltip]="getButtonConfig(1).tooltip"
                    (click)="getButtonConfig(1).callback.call(this)"
            >
                <nz-icon [nzType]="getButtonConfig(1).icon" />
            </button>

            <button nz-button
                    nzType="primary"
                    nzShape="round"
                    [nz-tooltip]="getButtonConfig(2).tooltip"
                    (click)="getButtonConfig(2).callback.call(this)"
            >
                <nz-icon [nzType]="getButtonConfig(2).icon" />
            </button>

            <button nz-button
                    nzType="primary"
                    nzShape="round"
                    [nz-tooltip]="getButtonConfig(3).tooltip"
                    (click)="getButtonConfig(3).callback.call(this)"
            >
                <nz-icon [nzType]="getButtonConfig(3).icon" />
            </button>

            <button nz-button
                    nzType="primary"
                    nzShape="round"
                    [nz-tooltip]="getButtonConfig(4).tooltip"
                    (click)="getButtonConfig(4).callback.call(this)"
            >
                <nz-icon [nzType]="getButtonConfig(4).icon" />
            </button>
        </div>

        <app-item-selector-data-list #right
                                     [title]="Sftoomi.Translator.translate('fields.item_selector.selected')"
        />
    </div>
</div>
