.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    app-item-selector-data-list {
        width: 50%;
        max-height: 200px;
    }

    .action-buttons-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.wrapper-mobile {
    flex-direction: column;
    width: 100%;
    align-items: unset;

    app-item-selector-data-list {
        width: 100%;
    }
}
