<tui-multi-select [tuiTextfieldCleaner]="true"
                  [tuiTextfieldLabelOutside]="true"
                  (searchChange)="onSearch($event)"
                  [stringify]="stringify"
                  (tuiValueChanges)="valueChanged($event)"
                  (focusedChange)="store.set([])"
>
    {{ label }}

    <ng-container *tuiDataList>
        <tui-loader [inheritColor]="true"
                    [overlay]="true"
                    [showLoader]="isLoading()"
        >
            <tui-data-list-wrapper
                [emptyContent]="emptyContent"
                tuiMultiSelectGroup
                [items]="store()"
                [itemContent]="template"
            />
        </tui-loader>
    </ng-container>
</tui-multi-select>

<ng-template
    #template
    let-option
>
    <span tuiCell>
        <span [tuiHint]="option.tooltip"
              class="option"
        >
            {{ option.name }}
        </span>
    </span>
</ng-template>
