<div class="wrapper">
    <app-loading-spinner [isLoading]="isLoading()" />
    <div class="form-wrapper">
        <div class="form"
             (keydown)="$event.key === 'Enter' && form.valid ? onLogonClick() : null"
        >
            <div class="header">SFTOOMI</div>

            <app-textfield name="login"
                           [form]="form"
                           [label]="Sftoomi.Translator.translate('views.login.login')"
            />

            <app-textfield name="password"
                           [form]="form"
                           [label]="Sftoomi.Translator.translate('views.login.password')"
                           [securedInput]="true"
            />

            <button nz-button
                    nzType="primary"
                    [disabled]="form.invalid"
                    style="margin-top: 30px"
                    (click)="onLogonClick()"
            >
                {{ Sftoomi.Translator.translate('views.login.logon') }}
            </button>
        </div>
    </div>
</div>
