MYSQL_DB_FOLDER_PATH="full-path-to-db-folder-in-your-os"

USER_ID=1000
USER_NAME=!ChangeMe!
GROUP_ID=1000

SERVER_PORT=8888
PHP_PORT=9999
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=!ChangeMe!

MYSQL_USER=!ChangeMe!
MYSQL_PASSWORD=!ChangeMe!

REDIS_PORT=6666
