<div>
    @if (!Sftoomi.isEmpty(label)) {
        {{ label }}
    }

    <div class="wrapper">
        @for (study of studiesCollection; track study) {
            <div class="study">
                <app-studies-selector-combo [name]="'study' + study.index"
                                            [form]="form"
                                            [store]="study.store"
                />

                <button nz-button
                        nzType="primary"
                        (click)="onRemoveClick(study.index)"
                >
                    <nz-icon nzType="delete" />
                </button>
            </div>
        }

        <button nz-button
                nzType="primary"
                [disabled]="isAddStudyClickDisabled()"
                (click)="onAddStudyClick()"
        >
            <nz-icon nzType="plus" />
            {{ Sftoomi.Translator.translate('fields.studies_selector.add_study') }}
        </button>
    </div>
</div>
