.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.studies-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 120px;
    overflow: auto;
}

.study {
    display: flex;
    align-items: center;
    gap: 10px;

    app-studies-selector-combo {
        width: 100%;
    }
}
