<nz-form-item [formGroup]="form">
    <nz-form-label [nzRequired]="Sftoomi.isFieldRequired(form, name)"
                   [nzFor]="name"
    >
        {{ label }}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="errorTipTpl">
        <nz-input-group [nzSuffix]="fieldClearTpl">
            <input nz-input
                   [formControlName]="name"
                   [onlyNumbers]="true"
                   [allowDecimals]="allowDecimals"
                   [allowNegative]="allowNegative"
                   [maxDecimalDigits]="maxDecimalDigitsLength"
                   [maxLength]="maxLength"
                   [id]="name"
            />

            <ng-template #fieldClearTpl
                         [ngTemplateOutlet]="clearTpl"
                         [ngTemplateOutletContext]="{control: form.get(name)}"
            >
            </ng-template>
        </nz-input-group>

        <ng-template #errorTipTpl>
            <form-error-template [fieldName]="name"
                                 [parentFormGroup]="form"
            />
        </ng-template>
    </nz-form-control>
</nz-form-item>


<ng-template #clearTpl
             let-control='control'
>
    @if (control?.value) {
        <i nz-icon
           class="ant-input-clear-icon"
           nzTheme="fill"
           nzType="close-circle"
           (click)="control?.reset()"
        ></i>
    }
</ng-template>
