<div>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onAddClick($event)"
            [nz-tooltip]="Sftoomi.Translator.translate('add')"
            [class.hidden]="!Sftoomi.Auth.permissions.isAllowed('REFERRING_DOCTORS_MODULE::ADD')"
    >
        <nz-icon nzType="plus" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onEditClick($event)"
            [nz-tooltip]="Sftoomi.Translator.translate('edit')"
            [class.hidden]="!Sftoomi.Auth.permissions.isAllowed('REFERRING_DOCTORS_MODULE::EDIT')"
    >
        <nz-icon nzType="edit" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onRemoveClick()"
            [nz-tooltip]="Sftoomi.Translator.translate('remove')"
            [class.hidden]="!Sftoomi.Auth.permissions.isAllowed('REFERRING_DOCTORS_MODULE::REMOVE')"
    >
        <nz-icon nzType="delete" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onRefreshClick()"
            [nz-tooltip]="Sftoomi.Translator.translate('refresh')"
            [class.hidden]="!Sftoomi.Auth.permissions.isAllowed('REFERRING_DOCTORS_MODULE')"
    >
        <nz-icon nzType="retweet" />
    </button>
</div>
