<ngx-extended-pdf-viewer [src]="src()"
                         [textLayer]="true"
                         [showOpenFileButton]="showOpenFileButton()"
                         [showTextEditor]="showTextButton()"
                         [showDrawEditor]="showDrawButton()"
                         [showStampEditor]="showAddImageButton()"
                         [showHighlightEditor]="showHighlightButton()"
                         [height]="height()"
                         [filenameForDownload]="filename()"
/>
