<div>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onAddClick($event)"
            [nz-tooltip]="Sftoomi.Translator.translate('add')"
    >
        <nz-icon nzType="plus" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onEditClick($event)"
            [nz-tooltip]="Sftoomi.Translator.translate('edit')"
    >
        <nz-icon nzType="edit" />
    </button>
    <button nz-button
            nzType="default"
            nzShape="circle"
            (click)="onRemoveClick()"
            [nz-tooltip]="Sftoomi.Translator.translate('remove')"
    >
        <nz-icon nzType="delete" />
    </button>
</div>
