<form [formGroup]="form"
      class="main-form"
>
    <div class="day-selector-wrapper">
        <tui-calendar [value]="examinationDate"
                      (dayClick)="onExaminationDateClick($event)"
        />
    </div>

    <tui-textfield>
        <label tuiLabel>{{ Sftoomi.Translator.translate('views.processing.filters.examination_id') }}</label>
        <input
            formControlName="examination_id"
            tuiInputNumber
        />

        <tui-error formControlName="examination_id"
                   [error]="[] | tuiFieldError | async"
        />
    </tui-textfield>

    <div
        tuiAppearance="flat"
        tuiButtonGroup
    >
        <button type="button"
                (click)="clearForm()"
        >
            <tui-icon icon="@tui.eraser" />
            {{ Sftoomi.Translator.translate('clear') }}
        </button>
        <button type="button"
                (click)="onSearch.emit(getValues())"
        >
            <tui-icon icon="@tui.search" />
            {{ Sftoomi.Translator.translate('search') }}
        </button>
    </div>
</form>
