<nz-card [nzTitle]="Sftoomi.Translator.translate('filters')">
    <div class="wrapper">
        <form [formGroup]="form"
              class="main-form"
        >
            <app-loading-spinner [isLoading]="isLoading()" />

            <app-datepicker #examinationDatePickerCtrl
                            [label]="Sftoomi.Translator.translate('views.examinations.filters.examination_date')"
                            name="examination_date"
                            [form]="form"
                            [isInline]="true"
                            (onValueChanged)="onDateChanged($event)"
            />

            <app-numberfield name="examination_id"
                             [form]="form"
                             [label]="Sftoomi.Translator.translate('views.examinations.filters.examination_id')"
            />
        </form>

        <div class="actions">
            <button nz-button
                    nzType="primary"
                    (click)="clearForm()"
            >
                <nz-icon nzType="clear" />
                {{ Sftoomi.Translator.translate('clear') }}
            </button>

            <button nz-button
                    nzType="primary"
                    (click)="onSearchClick()"
            >
                <nz-icon nzType="search" />
                {{ Sftoomi.Translator.translate('search') }}
            </button>
        </div>
    </div>
</nz-card>
