<nz-card [nzTitle]="Sftoomi.Translator.translate('filters')">
    <div class="wrapper">
        <form [formGroup]="form"
              class="main-form"
        >
            <app-datepicker [label]="Sftoomi.Translator.translate('views.examinations.filters.examination_date')"
                            name="examination_date"
                            [form]="form"
                            [isInline]="true"
            />

            <app-numberfield name="examination_id"
                             [form]="form"
                             [label]="Sftoomi.Translator.translate('views.examinations.filters.examination_id')"
            />
        </form>

        <div class="actions">
            <button nz-button
                    nzType="primary"
                    (click)="clearForm()"
            >
                <nz-icon nzType="clear" />
                Clear
            </button>

            <button nz-button
                    nzType="primary"
                    (click)="onSearch.emit(getValues())"
            >
                <nz-icon nzType="search" />
                Search
            </button>
        </div>
    </div>
</nz-card>
