{{ dialogResizer() }}

<div class="wrapper"
     [formGroup]="form"
>
    <div class="blocks-row">
        <div class="blocks-wrapper">
            <div class="block">
                <span class="header">
                    {{ Sftoomi.Translator.translate('views.examinations.dialog.blocks.common.header') }}
                </span>

                <app-datepicker name="examination_date"
                                [form]="form"
                                [label]="Sftoomi.Translator.translate('views.examinations.dialog.blocks.common.date')"
                />
            </div>
            <div class="block">
                <span class="header">
                    {{ Sftoomi.Translator.translate('views.examinations.dialog.blocks.patient.header') }}
                </span>

                <div class="field">
                    <app-combo #patientIdCtrl
                               [form]="form"
                               name="patient_id"
                               [label]="Sftoomi.Translator.translate('views.examinations.dialog.blocks.patient.patient_id')"
                               remoteUrl="/lookupPatient"
                               [useClear]="true"
                               (selectionChange)="onPatientSelected($event)"
                               style="width: 100%"
                    />

                    <patient-demographics-template [form]="form"
                                                   lastNameCtrlName="patient_last_name"
                                                   firstNameCtrlName="patient_first_name"
                                                   middleNameCtrlName="patient_middle_name"
                                                   dobNameCtrlName="patient_dob"
                                                   phoneNameCtrlName="patient_phone"
                                                   style="width: 100%"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="blocks-row">
        <div class="blocks-wrapper">
            <div class="block">
                <span class="header">
                    {{ Sftoomi.Translator.translate('views.examinations.dialog.blocks.referring.header') }}
                </span>

                <app-combo #facilityCtrl
                           name="facility_id"
                           [form]="form"
                           [label]="Sftoomi.Translator.translate('views.examinations.dialog.blocks.referring.facility')"
                           [useClear]="true"
                           [useSearch]="true"
                />

                <app-combo #doctorCtrl
                           name="doctor_id"
                           [form]="form"
                           [label]="Sftoomi.Translator.translate('views.examinations.dialog.blocks.referring.doctor')"
                           [useClear]="true"
                           [useSearch]="true"
                />
            </div>
            <div class="block">
                <span class="header">
                    {{ Sftoomi.Translator.translate('views.examinations.dialog.blocks.studies.header') }}
                </span>

                <app-studies-selector #studiesSelectorCtrl
                                      name="studies"
                                      [form]="form"
                                      label=""
                                      [store]="studiesStore"
                />
            </div>
        </div>
    </div>

    <div *nzModalFooter>
        <button nz-button
                nzType="primary"
                nzShape="round"
                [disabled]="form.invalid"
                (click)="save()"
        >
            {{ Sftoomi.Translator.translate('save') }}
        </button>
    </div>
</div>
