<tui-combo-box [tuiTextfieldCleaner]="true"
               [tuiTextfieldLabelOutside]="true"
               (searchChange)="onSearch($event)"
               (tuiValueChanges)="valueChanged($event)"
               [stringify]="stringify"
               (focusedChange)="onFocusChange()"
>
    {{ label }}

    <input #inputFieldCtrl
           tuiTextfieldLegacy
    />

    <ng-container *tuiDataList>
        <tui-loader [inheritColor]="true"
                    [overlay]="true"
                    [showLoader]="isLoading()"
        >
            <tui-data-list-wrapper [emptyContent]="emptyContent"
                                   [items]="store()"
                                   [itemContent]="optionTemplate"
            />
        </tui-loader>
    </ng-container>
</tui-combo-box>

<ng-template
    #optionTemplate
    let-option
>
    <span tuiCell>
        <span [tuiHint]="option.tooltip"
              class="option"
        >
            {{ option.name }}
            @if (showExpandedNameInOptionsList) {
                - {{ option.tooltip }}
            }
        </span>
    </span>
</ng-template>
