<div class="wrapper">
    <span class="left"></span>
    <span class="center">
        <button tuiButton
                size="s"
                type="button"
                [routerLink]="RoutesPaths.HOME"
        >
            {{ Sftoomi.Translator.translate('navigation.home') }}
        </button>

        <button tuiButton
                size="s"
                type="button"
                [routerLink]="RoutesPaths.PATIENTS"
        >
            {{ Sftoomi.Translator.translate('navigation.patients') }}
        </button>

        <button tuiButton
                size="s"
                type="button"
                [routerLink]="RoutesPaths.FACILITIES"
        >
            {{ Sftoomi.Translator.translate('navigation.facilities') }}
        </button>

        <button tuiButton
                size="s"
                type="button"
                [routerLink]="RoutesPaths.DOCTORS"
        >
            {{ Sftoomi.Translator.translate('navigation.doctors') }}
        </button>
    </span>
    <span class="right">
        <app-theme-switcher />
        <app-language-switcher />
    </span>
</div>
