<div class="wrapper">
    <span class="left"></span>
    <span class="center">
        <button tuiButton
                appearance="flat"
                size="s"
                type="button"
                [routerLink]="RoutesPaths.HOME"
        >
            {{ Sftoomi.Translator.translate('navigation.home') }}
        </button>

        <button tuiButton
                appearance="flat"
                size="s"
                type="button"
                [routerLink]="RoutesPaths.PROCESSING"
        >
            {{ Sftoomi.Translator.translate('navigation.processing') }}
        </button>

        <button
            appearance="flat"
            iconEnd="@tui.chevron-right"
            size="s"
            tuiButton
            tuiDropdownAlign="right"
            type="button"
            [tuiAppearanceState]="setupMenuOpened ? 'active' : null"
            [(tuiDropdownOpen)]="setupMenuOpened"
            [tuiDropdown]="setupDropdown"
            [tuiDropdownSided]="true"
        >
            {{ Sftoomi.Translator.translate('navigation.setup') }}
        </button>

        <ng-template
            #setupDropdown
            let-close
        >
            <tui-data-list>
                <tui-opt-group>
                    <button tuiOption
                            type="button"
                            [routerLink]="RoutesPaths.PATIENTS"
                            (click)="close()"
                    >
                        {{ Sftoomi.Translator.translate('navigation.patients') }}
                    </button>

                    <button tuiOption
                            type="button"
                            [routerLink]="RoutesPaths.FACILITIES"
                            (click)="close()"
                    >
                        {{ Sftoomi.Translator.translate('navigation.facilities') }}
                    </button>

                    <button tuiOption
                            type="button"
                            [routerLink]="RoutesPaths.DOCTORS"
                            (click)="close()"
                    >
                        {{ Sftoomi.Translator.translate('navigation.doctors') }}
                    </button>

                    <button tuiOption
                            type="button"
                            [routerLink]="RoutesPaths.STUDIES"
                            (click)="close()"
                    >
                        {{ Sftoomi.Translator.translate('navigation.studies') }}
                    </button>

                    <button tuiOption
                            type="button"
                            [routerLink]="RoutesPaths.TEMPLATES"
                            (click)="close()"
                    >
                        {{ Sftoomi.Translator.translate('navigation.templates') }}
                    </button>
                </tui-opt-group>
            </tui-data-list>
        </ng-template>
    </span>
    <span class="right">
        <app-theme-switcher />
        <app-language-switcher />
    </span>
</div>
