@import './theme';

.overflowed-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.loading-spinner-wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: @layout-body-background;
    padding: inherit;
    left: 0;
    right: 0;
}
