// https://ng.ant.design/docs/customize-theme/en
// https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

@primary-color: #9e49b7;

@layout-header-background: #3a1d46;

@font-family: "Roboto", sans-serif;

@app-item-selector-hover-color: #d1cdd3;
@app-item-selector-background-color: #e0d9e1;
@app-item-selector-border: 1px solid #d9d9d9;
@dark-outline: 1px solid rgba(0, 0, 0, 0.13);
@darker-outline: 1px solid rgba(0, 0, 0, 0.5);
