<div class="wrapper">
    @if (!Sftoomi.isEmpty(rowData.links.user_groups)) {
        <div>
            <div>{{ Sftoomi.Translator.translate('views.users.table.columns.links.groups') }}:</div>
            <ul>
                @for (userGroup of rowData.links.user_groups; track userGroup.id) {
                    @if ($index < 5) {
                        <li>{{ userGroup.name }}</li>
                    } @else if ($index < 6) {
                        <span>
                            {{
                                Sftoomi.format(
                                    Sftoomi.Translator.translate('views.users.table.columns.links.and_more'),
                                    [
                                        $count - $index
                                    ]
                                )
                            }}
                        </span>
                    }
                }
            </ul>
        </div>
    }
</div>
