@if (toolbar) {
    <div [style.height]="toolbarHeight">
        <ng-container *ngComponentOutlet="toolbar;
                                          inputs: { table: this }"
        />
    </div>
}

<nz-table [nzData]="data()"
          [nzLoading]="isLoading()"
          [nzBordered]="isBordered"
          [nzTotal]="total()"
          [nzNoResult]="noDataCaption"
          [nzScroll]="{ y: 'calc(100vh - 160px)' }"
          [nzPageSize]="pageSize"
          [nzPageIndex]="currentPageIndex"
          (nzPageIndexChange)="onPageIndexChange($event)"
          (nzPageSizeChange)="onPageSizeChange($event)"
          nzShowPagination
          nzShowSizeChanger
          [style.height]="getTableHeight()"
>
    @if (false) {
        <ng-container *ngTemplateOutlet="mobileTableTpl"/>
    } @else {
        <thead>
            <tr>
                @if (selectionRequired) {
                    <th [nzChecked]="selectionInHeaderChecked"
                        [nzIndeterminate]="selectionInHeaderIntermediate"
                        [nz-tooltip]="Sftoomi.Translator.translate('select_all')"
                        (nzCheckedChange)="onAllChecked($event)"
                        style="width: 40px"
                    ></th>
                }
                @for (column of columns; track column.name) {
                    <th style="width: {{ column.width }}">
                        <span class="cell"
                              [ngStyle]="column.header.extraStyles"
                        >
                            <span [nz-tooltip]="column.header.tooltipRenderer ? column.header.tooltipRenderer() : null">
                                {{ column.header.caption }}
                            </span>
                        </span>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of data(); track row + $index) {
                <tr>
                    <td
                        [nzChecked]="row.selected"
                        (nzCheckedChange)="onRowCheck($event, row)"
                    ></td>

                    @for (column of columns; track column.name) {
                        <td>
                            <div class="cell"
                                 [style.max-width]="column.width"
                                 [ngStyle]="column.dataCell?.extraStyles ?? null"
                                 [nz-tooltip]="column.dataCell?.tooltipRenderer ? column.dataCell?.tooltipRenderer(row) : null"
                            >
                                @if (column.customColumnComponent) {
                                    <ng-container *ngComponentOutlet="column.customColumnComponent;
                                                                     inputs: { table: this, rowData: row }"
                                    />
                                } @else if (column.rawHtml) {
                                    <span [innerHTML]="row[column.name] | safe"
                                          style="max-height: 100px; overflow: auto; width: 100%;"
                                    ></span>
                                } @else {
                                    <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                                        {{ row[column.name] }}
                                    </span>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    }
</nz-table>

<ng-template #mobileTableTpl>
    <tbody class="mobile-table">
        <div nz-checkbox
             [nzChecked]="selectionInHeaderChecked"
             [nzIndeterminate]="selectionInHeaderIntermediate"
             (nzCheckedChange)="onAllChecked($event)"
             class="select-all-checkbox"
        >
            {{ Sftoomi.Translator.translate('select_all') }}
        </div>
        @for (row of data(); track row + $index) {
            <tr>
                <td [class.selected-mobile-cell]="row.selected"
                    class="mobile-cell"
                >
                    <div nz-checkbox
                         class="mobile-cell-checkbox"
                         [nzChecked]="row.selected"
                         (nzCheckedChange)="onRowCheck($event, row)"
                    ></div>
                    <div class="mobile-cell-block">
                        <table>
                            @for (column of columns; track column.name) {
                                <tr style="display: flex">
                                    <td style="flex: 1; font-weight: bold">{{ column.header.caption }}:</td>
                                    <td style="flex: 2">{{ row[column.name] }}</td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</ng-template>
