@import '../../../../theme';

.cell {
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 5px;
}

th {
    cursor: default;
}

nz-table {
    height: 100%;

    thead tr:nth-child(1) th{
        background: white;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    ::ng-deep {
        nz-spin {
            height: 100%;
        }

        .ant-spin-container {
            height: 100%;
        }

        .ant-table {
            height: calc(100% - 40px);
        }

        nz-table-inner-scroll {
            height: 100%;
        }

        .ant-table-body {
            height: 100%;

            .mobile-table {
                .select-all-checkbox {
                    padding: 5px;
                }

                .selected-mobile-cell {
                    border: @darker-outline !important;
                }

                .mobile-cell {
                    padding-bottom: 5px;

                    .mobile-cell-checkbox {
                        padding: 5px;
                    }

                    .mobile-cell-block {
                        width: 100%;

                        table {
                            tr {
                                display: flex;
                                td {
                                    padding: 5px
                                }
                            }
                        }
                    }
                }
            }

            table {
                table-layout: auto !important;

                th {
                    border: 1px solid #f0f0f0;
                }

                td {
                    border: 1px solid #f0f0f0;
                }
            }
        }
    }
}


