<nz-table [nzData]="data()"
          [nzLoading]="isLoading()"
          [nzBordered]="isBordered"
          [nzTotal]="total()"
          [nzNoResult]="noDataCaption"
          [nzScroll]="{ y: 'calc(100vh - 200px)' }"
>
    <thead>
        <tr>
            @for (column of columns; track column.name) {
                <th [nzWidth]="column.header.widthPx ? column.header.widthPx + 'px' : null">
                    <span class="cell"
                          [ngStyle]="column.header.extraStyles"
                    >
                        {{ column.header.caption }}
                    </span>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of data(); track row) {
            <tr>
                @for(column of getColumnsNames(); track column) {
                    <td>
                        <span class="cell">
                            {{ row[column] }}
                        </span>
                    </td>
                }
            </tr>
        }
    </tbody>
</nz-table>
