<div class="wrapper">
    <table class="main-table">
        <thead>
            <tr>
                <th class="cell header-column" style="text-align: center">
                    <input
                        #selectAllCheckbox
                        tuiCheckbox
                        type="checkbox"
                        size="s"
                        [tuiHint]="Sftoomi.Translator.translate('select_all')"
                        [ngModel]="false"
                        (click)="onSelectAllRowsClick(!selectAllCheckbox.control?.value)"
                    />
                </th>
                <th class="cell header-column">{{ Sftoomi.Translator.translate('id') }}</th>
                <th class="cell header-column">{{ Sftoomi.Translator.translate('patient') }}</th>
                <th class="cell header-column">{{ Sftoomi.Translator.translate('staff') }}</th>
                <th class="cell header-column">{{ Sftoomi.Translator.translate('studies') }}</th>
            </tr>
        </thead>
        <tbody>
            @for (row of getAllRowsSignal()().rows; track row) {
                <tr class="main-table-row">
                    <td class="cell central-align row-select-cell">
                        <input
                            #selectionCheckbox
                            tuiCheckbox
                            type="checkbox"
                            size="s"
                            [ngModel]="selectedRowsIndexes().includes($index)"
                            (click)="onRowSelected({selected: !selectionCheckbox.control?.value, row_index: $index})"
                        />
                    </td>
                    <td class="cell central-align">
                        #{{ row.examination_id }}
                    </td>
                    <td class="cell" nowrap>
                        <strong>{{ Sftoomi.humanFullName(row.patient) }}</strong>

                        <table class="cell-inline-table">
                            <thead></thead>
                            <tbody>
                                @if (row.patient.dob) {
                                    <tr>
                                        <td>
                                            <span [tuiHint]="Sftoomi.Translator.translate('dob_full')">
                                                {{ Sftoomi.Translator.translate('dob') }}
                                            </span>:
                                        </td>
                                        <td>{{ Sftoomi.dateShort(moment(row.patient.dob).toDate()) }}</td>
                                    </tr>
                                }

                                @if (row.patient.phone) {
                                    <tr>
                                        <td>{{ Sftoomi.Translator.translate('phone') }}:</td>
                                        <td>{{ row.patient.phone }}</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td class="cell" nowrap>
                        <table class="cell-inline-table">
                            <thead></thead>
                            <tbody>
                                @if (row.doctor) {
                                    <tr>
                                        <td><strong>{{ Sftoomi.Translator.translate('doctor') }}</strong>:</td>
                                        <td><span [tuiHint]="Sftoomi.humanFullName(row.doctor)">{{ Sftoomi.humanShortName(row.doctor) }}</span></td>
                                    </tr>
                                }
                                <tr>
                                    <td><strong>{{ Sftoomi.Translator.translate('facility') }}</strong>:</td>
                                    <td><span [tuiHint]="row.facility.full_name">{{ row.facility.short_name }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="cell" nowrap>
                        <div class="studies-cell-container">
                            @for (study of row.studies; track study.exam_id) {
                                <table class="cell-inline-table">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ Sftoomi.Translator.translate('study') }}:</td>
                                        <td><span [tuiHint]="study.full_name">{{ study.short_name }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>{{ Sftoomi.Translator.translate('exam_id') }}:</td>
                                        <td>{{ study.exam_id }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                @if (!$last) {
                                    <div class="studies-separator"></div>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
