{{ dialogResizer() }}

<div class="wrapper"
     [formGroup]="form"
>
    <app-loading-spinner [isLoading]="isLoading()" />

    <patient-demographics-template [form]="form"
                                   lastNameCtrlName="last_name"
                                   firstNameCtrlName="first_name"
                                   middleNameCtrlName="middle_name"
                                   dobNameCtrlName="dob"
                                   phoneNameCtrlName="phone"
    />

    <div *nzModalFooter>
        <button nz-button
                nzType="primary"
                nzShape="round"
                [disabled]="form.invalid"
                (click)="save()"
        >
            {{ Sftoomi.Translator.translate('save') }}
        </button>
    </div>
</div>
