.wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    flex: 2;
}

.right {
    flex: 1;

    .templates-combo-wrapper {
        width: 300px;
        justify-self: flex-end;
    }
}
