<div class="wrapper">
    <form nz-form [formGroup]="form">
        <app-textfield [label]="Sftoomi.Translator.translate('last_name')"
                       name="last_name"
                       [form]="form"
                       [useUppercase]="true"
        />
        <app-textfield [label]="Sftoomi.Translator.translate('first_name')"
                       name="first_name"
                       [form]="form"
                       [useUppercase]="true"
        />
        <app-textfield [label]="Sftoomi.Translator.translate('middle_name')"
                       name="middle_name"
                       [form]="form"
                       [useUppercase]="true"
        />

        <app-datepicker [label]="Sftoomi.Translator.translate('dob_full')"
                        name="dob"
                        [form]="form"
        />

        <app-phone [label]="Sftoomi.Translator.translate('phone')"
                   name="phone"
                   [form]="form"
        />
    </form>
</div>
