<div class="wrapper">
    <form nz-form [formGroup]="form"
          [class.horizontal-wrapper]="!isVertical()"
    >
        <app-textfield [label]="Sftoomi.Translator.translate('last_name')"
                       [name]="lastName"
                       [form]="form"
                       [useUppercase]="true"
        />
        <app-textfield [label]="Sftoomi.Translator.translate('first_name')"
                       [name]="firstName"
                       [form]="form"
                       [useUppercase]="true"
        />
        <app-textfield [label]="Sftoomi.Translator.translate('middle_name')"
                       [name]="middleName"
                       [form]="form"
                       [useUppercase]="true"
        />

        <app-datepicker [label]="Sftoomi.Translator.translate('dob_full')"
                        [name]="dobName"
                        [form]="form"
        />

        <app-phone [label]="Sftoomi.Translator.translate('phone')"
                   [name]="phoneName"
                   [form]="form"
        />
    </form>
</div>
