.wrapper {
    height: 100%;
    display: flex;
    gap: 10px;

    .filters-wrapper {
        flex: 1;
        padding: 10px 20px 10px 20px;
    }

    examinations-table {
        width: 70%;
    }
}
