@import '../../../theme';

.wrapper {
    height: 100%;

    nz-layout {
        display: flex;
        gap: 10px;
        height: 100%;

        ::ng-deep {
            .ant-layout-sider {
                background: #fff;
            }
            .ant-layout-sider-trigger {
                background: @primary-color;
                position: unset;
            }
        }

        .filters-wrapper {
            height: 100%;

            .hidden-filters-caption {
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                font-size: x-large;
                font-weight: bold;
            }
        }
    }
}
