<div class="wrapper">
    <nz-layout>
        <nz-sider nzCollapsible
                  nzWidth="350px"
                  [nzCollapsedWidth]="40"
                  [(nzCollapsed)]="isFiltersCollapsed"
        >
            <div class="filters-wrapper">
                <examinations-module-filters-panel #filtersCtrl
                                                   [class.hidden]="isFiltersCollapsed"
                                                   (onLoaded)="filtersLoaded($event)"
                                                   (onSearch)="onSearch($event)"
                                                   (onClear)="onClear($event)"
                />
                <div [class.hidden]="!isFiltersCollapsed"
                     class="hidden-filters-caption"
                >
                    {{ Sftoomi.Translator.translate('filters') }}
                </div>
            </div>
        </nz-sider>

        <examinations-table #tableCtrl
                            [filtersCtrl]="filtersCtrl"
        />
    </nz-layout>
</div>
