<div class="wrapper">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzRequired]="Sftoomi.isFieldRequired(form, 'last_name')"
                           nzFor="last_name"
            >
                {{ Sftoomi.Translator.translate('last_name') }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="lastNameError">
                <input nz-input
                       formControlName="last_name"
                       id="last_name"
                />

                <ng-template #lastNameError>
                    <form-error fieldName="last_name"
                                [parentFormGroup]="form"
                    />
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzRequired]="Sftoomi.isFieldRequired(form, 'first_name')"
                           nzFor="first_name"
            >
                {{ Sftoomi.Translator.translate('first_name') }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="firstNameError">
                <input nz-input
                       formControlName="first_name"
                       id="first_name"
                />

                <ng-template #firstNameError>
                    <form-error fieldName="first_name"
                                [parentFormGroup]="form"
                    />
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzRequired]="Sftoomi.isFieldRequired(form, 'middle_name')"
                           nzFor="middle_name"
            >
                {{ Sftoomi.Translator.translate('middle_name') }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="middleNameError">
                <input nz-input
                       formControlName="middle_name"
                       id="middle_name"
                />

                <ng-template #middleNameError>
                    <form-error fieldName="middle_name"
                                [parentFormGroup]="form"
                    />
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzRequired]="Sftoomi.isFieldRequired(form, 'dob')"
                           nzFor="dob"
            >
                {{ Sftoomi.Translator.translate('dob_full') }}
            </nz-form-label>

            <nz-form-control [nzErrorTip]="dobError">
                <nz-date-picker formControlName="dob"
                                id="dob"
                                style="width: 100%"
                                [nzFormat]="getDatePickerLocalDateFormat()"
                />

                <ng-template #dobError>
                    <form-error fieldName="dob"
                                [parentFormGroup]="form"
                    />
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
