<thead>
    <tr>
        @if (selectionRequired) {
            <th [nzChecked]="selectionInHeaderChecked"
                [nzIndeterminate]="selectionInHeaderIntermediate"
                [nz-tooltip]="Sftoomi.Translator.translate('select_all')"
                (nzCheckedChange)="onAllChecked($event)"
                style="width: 40px"
            ></th>
        }
        @for (column of columns; track column.name) {
            <th [style.width]="column.width">
                <span class="cell"
                      [ngStyle]="column.header.extraStyles"
                >
                    <span [nz-tooltip]="column.header.tooltipRenderer ? column.header.tooltipRenderer!() : null">
                        {{ column.header.caption }}
                    </span>
                </span>
            </th>
        }
    </tr>
</thead>
<tbody>
    @for (row of data(); track row + $index) {
        <tr>
            @if (selectionRequired) {
                <td [nzChecked]="row.selected"
                    nzShowCheckbox
                    (nzCheckedChange)="onRowCheck($event, row)"
                >
                </td>
            }

            @for (column of columns; track column.name) {
                <td>
                    <div class="cell"
                         [style.max-width]="column.width"
                         [ngStyle]="column.dataCell?.extraStyles ?? null"
                         [nz-tooltip]="column.dataCell?.tooltipRenderer ? column.dataCell?.tooltipRenderer(row) : null"
                    >
                        @if (column.customColumnComponent) {
                            <ng-container *ngComponentOutlet="column.customColumnComponent;
                                                                      inputs: { table: this, rowData: row }"
                            />
                        } @else if (column.rawHtml) {
                            <span [innerHTML]="getCellData(row, column) | safe"
                                  style="max-height: 100px; overflow: auto; width: 100%;"
                            ></span>
                        } @else {
                            <span style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                                {{ getCellData(row, column) }}
                            </span>
                        }
                    </div>
                </td>
            }
        </tr>
    }
</tbody>
