<div class="wrapper"
     [formGroup]="form"
>
    {{ dialogResizer() }}

    <app-combo #typeCtrl
               name="type"
               [form]="form"
               [label]="Sftoomi.Translator.translate('fields.contacts.type')"
    />

    <app-textfield name="text"
                   [form]="form"
                   [label]="Sftoomi.Translator.translate('fields.contacts.text')"
    />

    <div *nzModalFooter>
        <button nz-button
                nzType="primary"
                nzShape="round"
                [disabled]="form.invalid"
                (click)="save()"
        >
            {{ Sftoomi.Translator.translate('save') }}
        </button>
    </div>
</div>
