<div class="wrapper"
     [formGroup]="form"
>
    {{ dialogResizer() }}

    <app-combo #typeCtrl
               name="type"
               [form]="form"
               [label]="Sftoomi.Translator.translate('fields.contacts.type')"
               (selectionChange)="onTypeChanged($event)"
    />

    @if (form.get('type')?.value === 'phone') {
        <app-phone name="text"
                   [form]="form"
                   [label]="Sftoomi.Translator.translate('fields.contacts.text')"
        />
    } @else {
        <app-textfield name="text"
                       [form]="form"
                       [label]="Sftoomi.Translator.translate('fields.contacts.text')"
        />
    }

    <div *nzModalFooter>
        <button nz-button
                nzType="primary"
                nzShape="round"
                [disabled]="form.invalid"
                (click)="save()"
        >
            {{ Sftoomi.Translator.translate('save') }}
        </button>
    </div>
</div>
