<div>
    <nz-table #headerTable [nzData]="data()"
              [nzPageSize]="50"
              nzShowPagination
              nzShowSizeChanger
              [nzScroll]="{ y: '240px' }"
              (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
        <thead>
            <tr>
                <th
                    [nzChecked]="checked"
                    [nzIndeterminate]="indeterminate"
                    nzLabel="Select all"
                    (nzCheckedChange)="onAllChecked($event)"
                ></th>
                <th>ID</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Middle name</th>
                <th>DoB</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @for (data of headerTable.data; track data) {
                <tr>
                    <td
                        [nzChecked]="setOfCheckedId.has(data.id)"
                        [nzDisabled]="data.disabled"
                        [nzLabel]="data.name"
                        (nzCheckedChange)="onItemChecked(data.id, $event)"
                    ></td>
                    <td>{{ data.id }}</td>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.middle_name }}</td>
                    <td>{{ data.dob }}</td>
                    <td>{{ data.phone }}</td>
                </tr>
            }
        </tbody>
    </nz-table>
</div>
