<tui-loader
    [inheritColor]="true"
    [overlay]="false"
    [showLoader]="isLoading()"
>
    <div class="wrapper"
         [formGroup]="form"
    >
        <tui-tabs [(activeItemIndex)]="activeTabIndex">
            <button tuiTab
                    type="button"
            >
                {{ Sftoomi.Translator.translate('views.facilities.dialog.tabs.common.title') }}
            </button>
            <button tuiTab
                    type="button"
            >
                {{ Sftoomi.Translator.translate('views.facilities.dialog.tabs.doctors.title') }}
            </button>
        </tui-tabs>

        <div [style.display]="activeTabIndex === 0 ? 'flex' : 'none'"
             class="common-tab"
        >
            <tui-textfield>
                <label tuiLabel>{{ Sftoomi.Translator.translate('short_name') }}</label>
                <input
                    onlyLetters
                    formControlName="short_name"
                    tuiTextfield
                />

                <tui-error formControlName="short_name"
                           [error]="[] | tuiFieldError | async"
                />
            </tui-textfield>

            <tui-textfield>
                <label tuiLabel>{{ Sftoomi.Translator.translate('full_name') }}</label>
                <input
                    onlyLetters
                    formControlName="full_name"
                    tuiTextfield
                />

                <tui-error formControlName="full_name"
                           [error]="[] | tuiFieldError | async"
                />
            </tui-textfield>
        </div>

        <div [style.display]="activeTabIndex === 1 ? 'block' : 'none'">
            <app-item-selector #doctorsItemSelectorCtrl />
        </div>

        <div class="actions">
            <button
                tuiButton
                appearance="flat"
                iconStart="check"
                type="button"
                [disabled]="form.invalid"
                (click)="save()"
            >
                {{ Sftoomi.Translator.translate('save') }}
            </button>
        </div>
    </div>
</tui-loader>
