.panel-wrapper {
    width: 100%;
    background: var(--tui-background-base);
    display: flex;
    flex-direction: column;

    processing-module-examinations-panel-toolbar {
        width: 100%;
        margin-bottom: 10px;
    }
}
