@import '../../../theme';

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.content {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: auto;

    .draft-template-frame {
        max-height: 297mm; // A4
        width: 210mm;  // A4
        border: 1px solid @border-color-base;
        padding: 10px;
    }
}

.loading-content {
    align-items: center;
}

app-draft-viewer-top-toolbar {
    height: 40px;
}
