@import '../theme';

:host {
  display: flex;
}

.app-layout {
  height: 100vh;
}

.inner-content {
  background: @layout-body-background;
  height: 100%;
}

.inner-content-padding {
    padding: 24px;
}

.inner-content-padding-mobile {
    padding: 24px 0;
}
