::ng-deep {
    .cell {
        padding-bottom: 5px;

        .cell-checkbox {
            padding: 5px;
        }

        .cell-block {
            width: 100%;

            table {
                tr {
                    display: flex;
                    td {
                        padding: 5px
                    }
                }
            }
        }
    }
}
